<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mapper.BoardMapper">

	<resultMap type="com.board.dto.Board" id="boardListResult">
		<id property="board_num" column="board_num" />
		<result property="b_category" column="b_category" />
		<result property="title" column="title" />
		<result property="sub_day" column="sub_day" />
		<result property="member_id" column="member_id" />
		<result property="contents" column="contents" />
	</resultMap>

	<select id="selectAll" parameterType="com.board.dto.BoardPage"
		resultMap="boardListResult">
		select board_num, b_category, title, to_char(sub_day, 'yyyy-mm-dd') as sub_day, member_id, contents from boards
		<if test="mode != null and mode.equals('board_num')">
			and board_num=#{keyword}
		</if>
		<if test="mode != null and mode.equals('title')">
			and title like #{keyword}
		</if>
		<if test="mode != null and mode.equals('member_id')">
			and member_id=#{keyword}
		</if>
		order by board_num desc
	</select>

	<select id="count" parameterType="com.board.dto.BoardPage"
		resultType="int">
		select count(*) as cnt from boards
		<where>
			<if test="mode != null and mode.equals('board_num')">
				and board_num=#{keyword}
			</if>
			<if test="mode != null and mode.equals('title')">
				and title like #{keyword}
			</if>
			<if test="mode != null and mode.equals('member_id')">
				and member_id=#{keyword}
			</if>
		</where>
	</select>
	
	<select id="selectByBoard" parameterType="int" resultType="com.board.dto.Board">
	    select board_num, b_category, title, to_char(sub_day, 'yyyy-mm-dd') as sub_day, member_id, contents from boards where board_num=#{num}
	</select>
	
	<insert id="insertBoard" parameterType="com.board.dto.Board">
	    <selectKey keyProperty="board_num" resultType="int" order="BEFORE">
	        select boards_seq.nextval from dual
	    </selectKey>
	    insert into boards(board_num, b_category, title, member_id, contents) values(#{board_num}, #{b_category}, #{title}, #{member_id}, #{contents}) 
	</insert>
	
	<update id="updateBoard" parameterType="com.board.dto.Board">
	    update boards set b_category=#{b_category}, title=#{title}, contents=#{contents} where board_num=#{board_num}
	</update>

</mapper>