<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mymenu.mapper.MyMenuMapper">


	
	<insert id="addMyMenu" parameterType="com.mymenu.dto.MyMenuDomain">
		<selectKey keyProperty="mymenu_num" resultType="int" order="BEFORE">
			select mymenu_seq.nextval from dual
		</selectKey>
		insert into mymenus(mymenu_num, member_id, mymenu_name, menu, my_option, sub_day) values(#{mymenu_num}, #{member_id}, #{mymenu_name}, #{menu}, #{my_option}, to_date(#{}));
	</insert>




<!--
	public String removeMyMenu(int mymenu_num) ; //mymenu 삭제	
	public List<MymenuDomain> viewMyMenuList(); //mymenu 리스트	
	public String replaceMyMenu(MymenuDomain mymenuDomain);	//mymenu 수정
	public MymenuDomain detailViewMyMenu(int mymenu_num, MymenuDomain mymenuDomain); //mymenu 상세보기 -->
	
	
</mapper>
	